body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}


h1,p{
    background-color: #4a148c;
    color: white;
    padding: 20px;
    text-align: center;
}


.add-book {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.add-book input,
.add-book textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #4a148c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6a1b9a;
}

.book-list {
    margin: 20px;
}

 .book {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #b27cf4;
}

.book h3 {
    margin: 0;
    padding: 10px;
    background-color: #4a148c;
    color: white;
    text-align: center;
} 

.book button {
    background-color: red;
    margin-top: 10px;
} 


#one{
    background-color: #4a148c;
    color: white;
    text-align: center;
    padding: 10px;
}
